@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.faq .container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: #fff;
    color: #4d5974;
    display: flex;
    min-height: 100vh;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ffffff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #24262b;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.content{
    float:right;
}
.form{
    width: 833px;
   height: 336px;
   display:flex;
   height:50vh;
   justify-content: center;
   align-items:center;
   padding:20px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;


}
.form .button{
    display:flex;
}
.form.container{
    max-width: 500px;
    width:100%;
    background:#ffffff;
    padding:2Opx 25px;
    border-radius:5px;

}
.form form .details1{
    display:flex;
    justify-content: space-between;

}
.form form .details2{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.form form .details3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.banner{
    background: linear-gradient(rgba(30,52,72,1), rgba(30,52,72,0));
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
.banner .footer-frame{
    justify-content: center;
}

.brand-navigation {
    background-color: #ffffff;
    display: flex;

  }

  .brandcontent {
    width: 960px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
  }
  .navigation a {
    text-decoration: none;
    padding: 3em;
  }

  .logo-nav {
    max-width: 100px;
  }

  .button-dark {
    height: 28x;
    padding: 1px 20px;
    border-radius: 4px;
    background-color: #1E90FF;
    border-style: none;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 26px;
  }
  .bodyimage{
    text-align: center;
  }

